<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link type="text/css" rel="stylesheet" href="styles/styles.css">
</head>
<body>

<div class="line-numbers"></div>

<header>
    <a href="/" class="logo">// cubio_studios <div id="web_logo"><br>web_dev</div></a>
    <ul>
        <li><a href="/" class="<%= active === '/' ? 'active' : '' %>">_home</a></li>
        <li><a href="/about" class="<%= active === '/about' ? 'active' : '' %>">_about</a></li>
        <li><a href="/projects" class="<%= active === '/projects' ? 'active' : '' %>">_projects</a></li>
        <li><a href="/contact" class="<%= active === '/contact' ? 'active' : '' %>">_contact</a></li>
    </ul>    
</header>